.test-report-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 0;
}
.test-report-details {
  background-color: #f5f5f5;
  width: 740px;
  height: 520px;
  padding: 20px;
  border-left: 3px solid #1a83ff;
  border-right: 3px solid #1a83ff;
  border-radius: 2px 2px 2px 2px;
}
.heading {
  text-align: center;
  color: #1a83ff;
}

.remark {
  text-align: center;
  color: #ff3333;
  font-size: 35px;
}
.score {
  text-align: center;
  color: #1a83ff;
}
.test-report-details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.test-report-details ul li {
  width: 90%;
  height: 60px;
  padding: 0 10px;
  margin-bottom: -10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.test-report-details ul li span {
  margin-top: 6px;
  height: 40px;
  color: #ff3333;
  font-weight: 700;
}
.test-report-details ul li p {
  color: #1a83ff;
  font-weight: 600;
}
/* For night mode */

.test-report-details-wrapper.night {
  background-color: #212121;
}
.test-report-details-wrapper.night .test-report-details {
  background-color: #3f4042;
  border-left: 4px solid #646161;
  border-right: 4px solid #646161;
}
.test-report-details-wrapper.night .heading {
  color: #fff;
}
.test-report-details-wrapper.night .test-report-details ul li p {
  color: rgba(247, 246, 246, 0.7);
}
.test-report-details-wrapper.night .remark {
  color: rgba(208, 207, 207, 0.7);
}
.test-report-details-wrapper.night .score {
  color: #fff;
}
