.test-page {
  position: fixed;
  background-color: #fff;
  display: grid;
  grid-template-columns: 5fr 0.7fr;
  width: 100%;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.button-container .btn {
  margin-left: 30px;
  padding: 8px 10px;
  font-size: 16px;
}

.button-container .btn-danger {
  background-color: #ff3333;
}
.button-container .btn-danger:hover {
  background-color: #f13d3d;
}
.button-container .btn-primary {
  background-color: #0cab11;
}

.btn-primary:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.side-panel-container {
  margin: 20px 0;
}
.side-panel {
  margin-top: -10px;
  background-color: rgb(248, 242, 242);
  border: 3px solid #1a83ff;
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
.side-panel ul {
  margin-top: -4px;
  padding: 30px 5px 20px 5px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.side-panel ul .question-button {
  padding: 13px;
  text-align: center;
  border-radius: 50%;
  margin: 15px 5px 15px 7px;
  background-color: #fff;
}
.side-panel ul .question-button label {
  color: #1a83ff;
}
.side-panel ul .question-button:hover label {
  color: #fff;
}
.side-panel ul li:hover {
  background-color: #1a83ff;
  border: 1px solid #fff;
}

/* For unseen question */
.side-panel ul .question-button.unseen-ques {
  border: 1px solid #1a83ff;
}
/* For current question */
.side-panel ul .question-button.current-ques {
  background-color: #60a1eb;
}
/* For unanswered question */
.side-panel ul .question-button.unanswered-ques {
  background-color: #f13d3d;
}
/* For answered question */
.side-panel ul .question-button.answered-ques {
  background-color: #0cab11;
}

.side-panel-container .question-state {
  margin-top: 40px;
  border: 3px solid #1a83ff;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgb(248, 242, 242);
  height: 120px;
}
.question-state .state-heading {
  margin: 17px 10px !important;
}
.question-state .current {
  background-color: #60a1eb;
  padding: 4px 11px;
  margin-right: 10px;
}
.question-state .unanswered {
  background-color: #f13d3d;
  padding: 4px 11px;
  margin-right: 10px;
}
.question-button.unanswered-ques label,
.question-button.answered-ques label {
  color: #fff !important;
}

.question-state .answered {
  background-color: #0cab11;
  padding: 4px 11px;
  margin-right: 10px;
}

.test-page.night {
  background-color: #212121;
}

.test-page.night .side-panel {
  background-color: #3f4042;
  border: 4px solid #646161;
}

.test-page.night .side-panel ul li:hover {
  background-color: rgba(228, 222, 222, 0.7);
  color: rgba(62, 61, 61, 0.7);
  border: 2px solid rgba(62, 61, 61, 0.7);
}

.test-page.night .side-panel ul .question-button {
  background-color: rgba(144, 140, 140, 0.7);
}
.test-page.night .side-panel ul .question-button label {
  color: #fff;
}

/* For unseen question */
.test-page.night .side-panel ul .question-button.unseen-ques {
  border: 1px solid #646161;
}
/* For current question */
.test-page.night .side-panel ul .question-button.current-ques {
  background-color: #60a1eb;
}
.question-button.current-ques label {
  color: #fff !important;
}

/* For unanswered question */
.test-page.night .side-panel ul .question-button.unanswered-ques {
  background-color: #f13d3d;
}
/* For answered question */
.test-page.night .side-panel ul .question-button.answered-ques {
  background-color: #0cab11;
}

.test-page.night .side-panel-container .question-state {
  background-color: #3f4042;
  color: #fff;
  border: 4px solid #646161;
}
