.navbar {
  background-color: #1a75ff;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}

.fa-firstdraft {
  margin-left: 8px;
  margin-top: -2px;
  font-size: 18px;
  color: #ff3333;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}
.nav-item:first-child:hover {
  background-color: transparent;
  border-bottom: none;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80%;
  list-style: none;
}

.nav-links {
  color: white;
  text-decoration: none;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
}
.nav-links .fa {
  color: #ff3333;
  margin-right: 8px;
  font-size: 22px;
}

.nav-item:hover {
  background-color: #1e87ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  border-bottom: 2px solid #ff3333;
}

/* For night */
.navbar.night {
  background-color: #333;
  border-bottom: 5px solid #646161;
}

.navbar.night .nav-item:first-child:hover {
  background-color: #333;
  border-bottom: none;
}

.navbar.night .nav-item:hover {
  background-color: rgb(74, 74, 74);
}
