.exam-info {
  padding: 60px 0px 10px 0;
  font-size: 17.1px;
  font-weight: 440;
}
.exam-instructions {
  width: 70%;
  margin: auto;
}
.exam-instructions .title {
  margin-left: -30px;
}

.exam-instructions p {
  font-size: 20px;
  font-weight: 600;
}

.info-heading {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: -4px;
}

.exam-instructions ol li {
  margin: 7px 0;
}
.exam-mandatry-info {
  display: flex;
  flex-direction: column;
  position: relative;
}
.exam-mandatry-info .agrement-line {
  display: block;
  position: absolute;
  left: 12%;
}
.skill-set {
  padding-top: 10px;
}

.info-checkbox {
  margin-left: 40px;
  margin-right: 5px;
  margin-top: 2px;
}
.radio-group {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
}
.radio-group label {
  margin: 2px;
}

.exam-info .btn-small {
  margin: 10px 0 40px;
}

.exam-info .error {
  color: #ff3333;
}

/* For night */
.exam-info.night {
  background-color: #212121;
  color: #fff;
}
